#heading{
    color: red;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width:200px
}
.nav-items > ul{
    font-size: 24px;
    display:flex;
    list-style-type: none;
    padding: 0px 20px;
}
.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}
.res-card{
    width: 360px;
    height:470px;
   padding: 5px;
   margin: 5px;
}
.res-card:hover{
    border:1px solid black;
    cursor: pointer;
}
.search{
    padding: 10px;
}
.res-img{
    
    height: 50%;
    width: 100%;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.res-card .h4{
    width:100%
}
.shimmer-cards{
    width: 200px;
    height: 300px;
    margin: 20px;
    background-color: #f0f0f0;
}
    

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.login{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    height: 50px;
}
.filter{
    display: flex;
}
.res-link {
    color: inherit;
    text-decoration: inherit;
}
.user-card{
    padding: 10px;
    border: 2px solid black
}